<p>login works!</p>

<div class="form-floating mb-3">
    <input type="email" [(ngModel)]="Username1" class="form-control" id="Username" placeholder="Enter Username1">
    <label for="email">Email</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" [(ngModel)]="Password1"  class="form-control" id="Password" placeholder="Enter Password1">
    <label for="Password1">Password</label>
  </div>
    <button type="button" class="btn btn-primary" (click)="viewDetail()">Submit</button>

    
      
  
